@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
}
img {
  width: 100%;
}
$primary-green: #d8f3dc;
$secondary-green: #40916c;
$tertiary-green: #2d6a4f;
$warning-color: #eb6d6d;
$primary-text: #fafafa;
$primary-border-radius: 15px;

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $primary-green;
  color: black;
}

.login {
  background-color: $tertiary-green;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left {
  height: 500px;
  background: $primary-green;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-right {
  height: 500px;
  background: $secondary-green;
  border-radius: 0 15px 15px 0;
}

h2 {
  font-size: 22px;
}
.welcome {
  color: $primary-text;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  margin-bottom: -10px;
}

.special-container {
  max-width: 1600px;
  margin: 0 auto;
}
.dash-link {
  height: 80px;
  width: 100%;
  margin: 5px 0;
  border-radius: $primary-border-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}

.icon {
  width: 40px;
}
.content-wrapper {
  background-color: $primary-green;
  border-radius: $primary-border-radius;
  margin-bottom: 20px;
  padding: 20px;
  p {
    margin-left: 5px;
  }
}
.item-wrapper {
  display: flex;
  img {
    margin: 10px;
  }
  h2 {
    margin: 20px;
  }
}
.link-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link-wrapper:nth-of-type(2) {
  margin-bottom: 15px;
}
.content-img {
  margin: 15px 0;
}
.assignments {
  background-image: url(/images/assignments-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.schedule {
  background-image: url(/images/schedule-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
}
.profile {
  background-image: url(/images/profile-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.resources {
  background-image: url(/images/resources-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
}

.secondary-nav {
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  .dash-link {
    height: 8rem;
  }
  .swap {
    display: flex;
    flex-direction: row-reverse;
  }
}

.clamped {
  color: $tertiary-green;
  font-size: clamp(0.5rem, -0.875rem + 6.333vw, 1.5rem);
  padding: 10px;
}
