@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

img {
  width: 100%;
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #d8f3dc;
  color: black;
}

.login {
  background-color: #2d6a4f;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .login-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login .login-logo img {
  width: 150px;
}

.current {
  font-weight: bold;
  text-decoration: underline !important;
  color: #d8f3dc;
}

.login-left {
  background: #d8f3dc;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.login-left .btn {
  margin: 10px;
  border-radius: 15px;
}
.login-left .student-btn {
  background: #2d6a4f;
}
.login-left .teacher-btn {
  background: #1b4332;
}

.login-right {
  background: #40916c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

h2 {
  font-size: 22px;
}

.welcome {
  color: #fafafa;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  margin-bottom: -10px;
}

h1 {
  margin-left: 80px;
  margin-bottom: 20px;
  color: #1b4332;
}

.custom {
  color: #2d6a4f;
  transform: translateY(7px);
  margin-top: -5px;
}

.date.assignment-paragraph {
  margin-left: 15px;
}

.assignment-item {
  margin-left: 15px;
  font-weight: bold;
}

.special-container {
  max-width: 1600px;
  margin: 0 auto;
}

.dash-link {
  height: 110px;
  width: 100%;
  margin: 5px 0;
  border-radius: 15px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px !important;
  overflow: scroll;
}

#overdue {
  color: #eb6d6d;
}

.special-text {
  font-weight: bold;
  color: #2d6a4f !important;
}

.icon {
  width: 60px;
  height: 60px;
}

.icon-xs {
  width: 10px;
}

.icon-sm {
  width: 30px;
  transform: translateY(7px);
}

.icon-med {
  width: 45px;
}

.icon-span {
  margin-top: -5px;
}

.user-wrapper {
  display: flex;
  margin-left: 10px;
}
.user-wrapper h2 {
  margin-left: 10px;
}

.contact-wrapper {
  display: flex;
}
.contact-wrapper img {
  margin: 0 15px;
}

.content-right {
  position: sticky !important;
  top: 60px;
}

.content-wrapper {
  background-color: #d8f3dc;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px;
}
.content-wrapper p {
  margin-left: 5px;
}

.item-wrapper {
  display: flex;
}
.item-wrapper img {
  margin: 10px;
}
.item-wrapper h2 {
  margin: 10px 5px;
}

.news-box {
  display: flex;
  flex-direction: column;
}

.link-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-wrapper:nth-of-type(2) {
  margin-bottom: 15px;
}

.content-img {
  margin: 15px 0;
  border-radius: 15px;
}

.assignments-course {
  background-image: url(/images/assignments-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.schedule-bg {
  background-image: url(/images/schedule-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}

.profile {
  background-image: url(/images/profile-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.resources {
  background-image: url(/images/resources-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}

.all-assignments {
  background-image: url(/images/all-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}

.ux {
  background-image: url(/images/ux-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}

.web-dev {
  background-image: url(/images/web-dev-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}

.databases {
  background-image: url(/images/databases-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}

.modal-paragraph {
  color: #000000;
}

.secondary-nav {
  margin-bottom: 20px;
}

.clamped {
  color: #1b4332;
  font-size: clamp(0.5rem, -0.875rem + 6.333vw, 1.5rem);
  padding: 10px;
}

.clamped-2 {
  font-size: clamp(0.5rem, -0.875rem + 6.333vw, 1.5rem);
  color: #1b4332;
}

.clamped-3 {
  font-size: clamp(0.5rem, -0.875rem + 6.333vw, 1.5rem);
  color: #40916c;
  padding: 10px;
  text-align: center;
}

.subjects {
  margin-left: 80px;
}

.email {
  color: #1b4332;
}
.email .email-link {
  margin-bottom: -5px;
}

.save-msg {
  color: #2d6a4f;
}

.assignment-paragraph {
  font-size: 0.5rem;
  margin-left: 10px;
  color: #2d6a4f;
}

.class-wrapper {
  margin-top: 5px;
  padding: 10px;
  border-radius: 15px;
  background: #2d6a4f;
  font-size: 12px;
}
.class-wrapper p {
  color: #fafafa;
}

.assignment-link {
  margin-left: 10px;
}

.dash-button {
  height: 20px;
  font-size: 10px;
}

.link-text {
  color: #fafafa;
  margin-left: 10px;
}

.link-btn {
  margin-top: 20px;
  color: #2d6a4f;
  background-color: #fafafa;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-start;
}

.btn-wrapper-2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.spacer {
  margin-top: 130px;
}

.profile-container h2 {
  margin-left: 5px;
}

.profile-page {
  background-image: url(/images/profile-header.jpg);
  background-size: 100% 300px;
  background-position: top;
  background-repeat: no-repeat;
}
.profile-page .dash-link {
  margin: 0;
  margin-bottom: 20px;
}
.profile-page .clamped {
  color: #fafafa;
  padding: 10px;
}

.profile-image {
  max-width: 130px;
  position: relative;
  top: -50px;
  left: -25px;
}

.error {
  background: #eb6d6d;
  color: #fafafa;
}

.error:hover {
  background: #eb6d6d;
}

.user-info {
  display: flex;
  flex-direction: column;
}
.user-info .pw-btn {
  margin: 20px 0;
  background: #2d6a4f;
}

#profile-splash {
  background-image: url(/images/profile-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0;
}

.grades-heading {
  color: #2d6a4f;
  margin-bottom: 10px;
}

.collapse-wrapper {
  display: flex;
  width: 100%;
  margin: 10px 15px 0 0;
  justify-content: flex-end;
}
.collapse-wrapper img {
  width: 30px;
  height: 15px;
}

.active .dropdown-arrow {
  animation-name: rotateit;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: 0.5s;
}

li:not(.active) .dropdown-arrow {
  animation-name: rotateback;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: 0.5s;
}

@keyframes rotateback {
  0% {
    transform: rotate(180deg);
  }
}
@keyframes rotateit {
  100% {
    transform: rotate(180deg);
  }
}
@media only screen and (min-width: 600px) {
  .dash-link {
    height: 200px;
  }

  .swap {
    display: flex;
    flex-direction: row-reverse;
  }

  .assignment-paragraph {
    font-size: 1rem;
  }

  #profile-splash {
    height: 250px;
  }

  .profile-container {
    max-width: none;
    display: flex;
    height: 200px;
  }

  .desktop-transform {
    position: relative;
    left: 0;
    top: -100px;
  }

  .profile-image {
    max-width: 200px;
    height: 190px;
    position: relative;
    top: -50px;
    left: -40px;
  }

  .login-left {
    height: 500px;
    border-radius: 15px 0 0 15px;
  }

  .login-right {
    height: 500px;
    border-radius: 0 15px 15px 0;
  }

  .intro-paragraph {
    margin-top: 40px;
  }

  .intro-header {
    font-size: 3rem;
  }

  .class-wrapper {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=daniel.css.map */
