@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
}
img {
  width: 100%;
}
$primary-green: #d8f3dc;
$secondary-green: #40916c;
$tertiary-green: #2d6a4f;
$heading-link: #1b4332;
$warning-color: #eb6d6d;
$primary-text: #fafafa;
$secondary-text: #000000;
$primary-border-radius: 15px;

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $primary-green;
  color: black;
}

.login {
  background-color: $tertiary-green;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 150px;
    }
  }
}

.login-left {
  background: $primary-green;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: $primary-border-radius;
  .btn {
    margin: 10px;
    border-radius: $primary-border-radius;
  }
  .student-btn {
    background: $tertiary-green;
  }
  .teacher-btn {
    background: $heading-link;
  }
}
.login-right {
  background: $secondary-green;
  border-radius: $primary-border-radius;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

h2 {
  font-size: 22px;
}
.welcome {
  color: $primary-text;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  margin-bottom: -10px;
}
h1 {
  margin-left: 80px;
  margin-bottom: 20px;
  color: $heading-link;
}
.custom {
  color: $tertiary-green;
  transform: translateY(7px);
  margin-top: -5px;
}
.special-container {
  max-width: 1600px;
  margin: 0 auto;
}
.dash-link {
  height: 110px;
  width: 100%;
  margin: 5px 0;
  border-radius: $primary-border-radius;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px !important;
  overflow: scroll;
}

.icon {
  width: 60px;
  height: 60px;
}
.icon-xs {
  width: 10px;
}
.icon-sm {
  width: 30px;
  transform: translateY(7px);
}
.icon-med {
  width: 45px;
}
.icon-span {
  margin-top: -5px;
}

.user-wrapper {
  display: flex;
  margin-left: 10px;
  h2 {
    margin-left: 10px;
  }
}

.contact-wrapper {
  display: flex;

  img {
    margin: 0 15px;
  }
}
.content-right {
  position: sticky !important;
  top: 60px;
}
.content-wrapper {
  background-color: $primary-green;
  border-radius: $primary-border-radius;
  margin-bottom: 20px;
  padding: 20px;
  p {
    margin-left: 5px;
  }
}
.item-wrapper {
  display: flex;
  img {
    margin: 10px;
  }
  h2 {
    margin: 10px 5px;
  }
}
.news-box {
  display: flex;
  flex-direction: column;
}
.link-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link-wrapper:nth-of-type(2) {
  margin-bottom: 15px;
}
.content-img {
  margin: 15px 0;
  border-radius: $primary-border-radius;
}
.assignments-course {
  background-image: url(/images/assignments-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.schedule-bg {
  background-image: url(/images/schedule-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}
.profile {
  background-image: url(/images/profile-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.resources {
  background-image: url(/images/resources-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}

.all-assignments {
  background-image: url(/images/all-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}
.ux {
  background-image: url(/images/ux-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}
.web-dev {
  background-image: url(/images/web-dev-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}
.databases {
  background-image: url(/images/databases-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-position: center;
}
.modal-paragraph {
  color: $secondary-text;
}
.secondary-nav {
  margin-bottom: 20px;
}
.clamped {
  color: $heading-link;
  font-size: clamp(0.5rem, -0.875rem + 6.333vw, 1.5rem);
  padding: 10px;
}
.clamped-2 {
  font-size: clamp(0.5rem, -0.875rem + 6.333vw, 1.5rem);
  color: $heading-link;
}
.clamped-3 {
  font-size: clamp(0.5rem, -0.875rem + 6.333vw, 1.5rem);
  color: $secondary-green;
  padding: 10px;
  text-align: center;
}
.subjects {
  margin-left: 80px;
}
.email {
  color: $heading-link;
  .email-link {
    margin-bottom: -5px;
  }
}

.assignment-paragraph {
  font-size: 0.5rem;
  margin-left: 10px;
  color: $tertiary-green;
}
.assignment-link {
  margin-left: 10px;
}
.dash-button {
  height: 20px;
  font-size: 10px;
}
.link-text {
  color: $primary-text;
  margin-left: 10px;
}
.link-btn {
  margin-top: 20px;
  color: $tertiary-green;
  background-color: $primary-text;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-start;
}
.spacer {
  margin-top: 130px;
}
.profile-container {
  h2 {
    margin-left: 5px;
  }
}
.profile-page {
  background-image: url(/images/profile-header.jpg);
  background-size: 100% 300px;
  background-position: top;
  background-repeat: no-repeat;
  .dash-link {
    margin: 0;
    margin-bottom: 20px;
  }
  .clamped {
    color: $primary-text;
    padding: 10px;
  }
}
.profile-image {
  max-width: 130px;
  position: relative;
  top: -50px;
  left: -25px;
}
.error {
  background: $warning-color;
  color: $primary-text;
}

.error:hover {
  background: $warning-color;
}
.user-info {
  display: flex;
  flex-direction: column;
  .pw-btn {
    margin: 20px 0;
    background: $tertiary-green;
  }
}
#profile-splash {
  background-image: url(/images/profile-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 100%;
  position: absolute;

  top: 0;
}

.grades-heading {
  color: $tertiary-green;
  margin-bottom: 10px;
}
.collapse-wrapper {
  display: flex;
  width: 100%;
  margin: 10px 15px 0 0;

  justify-content: flex-end;
  img {
    width: 30px;
    height: 15px;
  }
}
.active .dropdown-arrow {
  animation-name: rotateit;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: 0.5s;
}
li:not(.active) .dropdown-arrow {
  animation-name: rotateback;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: 0.5s;
}
@keyframes rotateback {
  0% {
    transform: rotate(180deg);
  }
  100% {
  }
}
@keyframes rotateit {
  0% {
  }
  100% {
    transform: rotate(180deg);
  }
}
@media only screen and (min-width: 600px) {
  .dash-link {
    height: 200px;
  }
  .swap {
    display: flex;
    flex-direction: row-reverse;
  }
  .assignment-paragraph {
    font-size: 1rem;
  }
  #profile-splash {
    height: 250px;
  }
  .profile-container {
    max-width: none;
    display: flex;
    height: 200px;
  }
  .desktop-transform {
    position: relative;
    left: 0;
    top: -100px;
  }
  .profile-image {
    max-width: 200px;
    height: 190px;
    position: relative;
    top: -50px;
    left: -40px;
  }
  .login-left {
    height: 500px;
    border-radius: 15px 0 0 15px;
  }
  .login-right {
    height: 500px;
    border-radius: 0 15px 15px 0;
  }
  .intro-paragraph {
    margin-top: 40px;
  }
  .intro-header {
    font-size: 3rem;
  }
}
