@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none !important;
}

img {
  width: 100%;
}

:root {
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

#style-tile-heading {
  margin: 24px 0 0 24px;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  margin: 0 8px;
  border-radius: 15px;
}

.card {
  border: 1px solid #999;
  border-radius: 15px;
  max-width: 440px;
}
.card .card-title {
  font-weight: bold;
}

nav {
  margin: 0 !important;
  padding: 24px 0px;
  background-color: #2d6a4f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 600px) {
  nav {
    padding: 24px 32px;
  }
}
@media only screen and (max-width: 600px) {
  nav .col.s2 {
    margin-left: unset !important;
  }
}
nav h1 {
  font-size: 1.5rem;
}
nav .burgermenu-icon {
  cursor: pointer;
}
nav .burgermenu-icon .bar {
  width: 24px;
  height: 2px;
  background-color: #fafafa;
  margin: 6px 0;
}
nav .burgermenu-icon .bar:first-child {
  width: 8px;
}
nav .burgermenu-icon .bar:last-child {
  width: 16px;
}
nav #desktop-nav {
  display: none;
  align-items: center;
}
nav ul {
  list-style: none;
}
nav ul .avatar {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background: #fafafa;
}
nav .nav-link,
nav .nav-logo-link {
  text-decoration: none;
  color: #fafafa;
}
nav .logo-wrapper {
  display: flex;
}
nav .logo-wrapper img {
  width: unset;
  max-height: 95%;
  z-index: 2;
}

footer {
  padding: 24px 32px;
  background-color: #2d6a4f;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-font-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.color-font-container .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
}
.color-font-container .item p {
  margin: 10px;
  text-align: center;
}
.color-font-container .color-1 {
  color: #fafafa;
  background: #d8f3dc;
}
.color-font-container .color-2 {
  color: #fafafa;
  background: #40916c;
}
.color-font-container .color-3 {
  color: #fafafa;
  background: #2d6a4f;
}
.color-font-container .color-4 {
  color: #fafafa;
  background: #eb6d6d;
  border: 1px solid #999;
}
.color-font-container .quote {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.color-font-container .quote::before {
  content: "“";
  font-style: italic;
}
.color-font-container .quote::after {
  content: "”";
  font-style: italic;
}

#btns-container,
#card-container,
#input-container {
  margin: 5% 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 920px) {
  nav #mobile-nav {
    display: none;
  }
  nav #desktop-nav {
    display: flex;
  }

  .color-font-container .item {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
