@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none !important;
}

img {
  width: 100%;
}

:root {
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

#style-tile-heading {
  margin: 24px 0 0 24px;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  margin: 0 8px;
  border-radius: 15px;
}

.card {
  border: 1px solid #999;
  border-radius: 15px;
  max-width: 440px;
}
.card .card-title {
  font-weight: bold;
}

nav {
  margin: 0 !important;
  padding: 24px 0px;
  background-color: #2d6a4f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 600px) {
  nav {
    padding: 24px 32px;
  }
}
@media only screen and (max-width: 600px) {
  nav .col.s2 {
    margin-left: unset !important;
  }
}
nav h1 {
  font-size: 1.5rem;
}
nav .burgermenu-icon {
  cursor: pointer;
}
nav .burgermenu-icon .bar {
  width: 24px;
  height: 2px;
  background-color: #fafafa;
  margin: 6px 0;
}
nav .burgermenu-icon .bar:first-child {
  width: 8px;
}
nav .burgermenu-icon .bar:last-child {
  width: 16px;
}
nav #desktop-nav {
  display: none;
  align-items: center;
}
nav ul {
  list-style: none;
}
nav ul .avatar {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background: #fafafa;
}
nav .nav-link,
nav .nav-logo-link {
  text-decoration: none;
  color: #fafafa;
}
nav .logo-wrapper {
  display: flex;
}
nav .logo-wrapper img {
  width: unset;
  max-height: 95%;
  z-index: 2;
}

footer {
  padding: 24px 32px;
  background-color: #2d6a4f;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-font-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.color-font-container .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
}
.color-font-container .item p {
  margin: 10px;
  text-align: center;
}
.color-font-container .color-1 {
  color: #fafafa;
  background: #d8f3dc;
}
.color-font-container .color-2 {
  color: #fafafa;
  background: #40916c;
}
.color-font-container .color-3 {
  color: #fafafa;
  background: #2d6a4f;
}
.color-font-container .color-4 {
  color: #fafafa;
  background: #eb6d6d;
  border: 1px solid #999;
}
.color-font-container .quote {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.color-font-container .quote::before {
  content: "“";
  font-style: italic;
}
.color-font-container .quote::after {
  content: "”";
  font-style: italic;
}

#btns-container,
#card-container,
#input-container {
  margin: 5% 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 920px) {
  nav #mobile-nav {
    display: none;
  }
  nav #desktop-nav {
    display: flex;
  }

  .color-font-container .item {
    width: 300px;
  }
}
img {
  width: 100%;
}

p,
h4 {
  color: #fafafa;
}

.schedule {
  background-color: #d8f3dc;
}
.schedule #tabs-swipe-demo {
  display: flex;
}
@media only screen and (min-width: 993px) {
  .schedule #tabs-swipe-demo {
    display: none;
  }
}
.schedule .schedule-title {
  width: 100%;
  text-align: center;
  color: #fafafa;
  background-color: #40916c;
  padding: 5px 0;
  font-size: 20px;
}
@media only screen and (min-width: 993px) {
  .schedule .schedule-title {
    color: black;
    font-size: 50px;
    background-color: unset;
  }
}
.schedule .schedule-dates-nav {
  display: none;
  text-align: center;
}
.schedule .schedule-dates-nav li {
  background-color: #40916c;
}
@media only screen and (min-width: 993px) {
  .schedule .schedule-dates-nav {
    display: block;
  }
  .schedule .schedule-dates-nav p {
    color: #fafafa;
  }
  .schedule .schedule-dates-nav .schedule-date-nav {
    display: flex;
    flex-direction: column;
  }
  .schedule .schedule-dates-nav .schedule-date-nav > * {
    align-self: center;
  }
}

.assignments .assignment-title {
  margin-top: 40px;
}
.assignments .assignment-title h1 {
  font-size: 25px;
}
.assignments .assignment-title p {
  font-size: 15px;
  color: black;
}
.assignments .assignment-carousel {
  height: 100px;
}
.assignments .assignment-carousel img {
  max-width: 150px;
}
.assignments .assignment-carousel .carousel {
  transform-origin: 0% 0%;
  height: 100px;
}
.assignments .assignment-carousel .carousel .carousel-item {
  height: 100px !important;
}
@media only screen and (min-width: 993px) {
  .assignments .assignment-carousel {
    display: none;
  }
}
.assignments .assignment-carousel-large {
  display: none;
}
@media only screen and (min-width: 993px) {
  .assignments .assignment-carousel-large {
    display: block;
  }
}
.assignments .assignment-subjects .subject-ux {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(164, 95, 190, 0.7) 67.71%);
}
.assignments .assignment-subjects .subject-wd {
  background: linear-gradient(180deg, rgba(216, 243, 220, 0) 0%, #4b81ab 78.12%);
}
.assignments .assignment-subjects .subject-db {
  background: linear-gradient(180deg, rgba(64, 145, 108, 0) 0%, #40916c 95.83%);
}
.assignments .assignment-subjects .assignment-subject {
  border-radius: 15px;
  min-height: 200px;
  margin-bottom: 40px;
}
.assignments .assignment-subjects .assignment-subject p,
.assignments .assignment-subjects .assignment-subject h4 {
  color: black;
}
.assignments .assignment-subjects .assignment-subject h4 {
  font-size: 15px;
}
.assignments .assignment-subjects .assignment-subject .assignment-subject-title {
  margin-top: 20px;
}
.assignments .assignment-subjects .assignment-subject .assignment-subject-title .subject-title-text {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.assignments .assignment-subjects .assignment-subject .assignment-subject-title .subject-title-text h4 {
  margin: 0;
}
.assignments .assignment-subjects .assignment-subject .assignment-subject-title .subject-title-text .subject-title-time {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.2);
}
.assignments .assignment-subjects .assignment-subject .assignment-subject-description {
  font-size: 12px;
}
.assignments .assignment-subjects .assignment-subject .assignment-subject-description .description-deadline,
.assignments .assignment-subjects .assignment-subject .assignment-subject-description .material-title {
  font-size: 15px;
  margin-bottom: 10px;
}
.assignments .assignment-subjects .assignment-subject .assignment-subject-material {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.assignments .assignment-subjects .assignment-subject .assignment-subject-material .material-button {
  margin-bottom: 5px;
  width: 98px;
}

.tabs .indicator {
  background-color: #fafafa !important;
}

.weekdays {
  background-color: #40916c;
}
.weekdays a {
  color: #fafafa !important;
}

.active-hour {
  background-color: #2d6a4f;
}

.cancelled-hour {
  background-color: #eb6d6d;
}

.inactive-hour {
  background-color: #4b81ab;
}

.schedule-date {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 993px) {
  .schedule-date {
    display: none;
  }
}
.schedule-date p,
.schedule-date h3 {
  color: #40916c;
}
.schedule-date .date-wrapper {
  width: 100%;
}
.schedule-date .date-wrapper::after {
  content: "";
  display: inline-block;
  border-bottom: 2px #2d6a4f solid;
  width: 100%;
}

.schedule-hour {
  height: 65px;
  margin-bottom: 10px !important;
  padding: 0 !important;
}
.schedule-hour .schedule-time {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 993px) {
  .schedule-hour .schedule-time:not(.schedule-main-time) {
    display: none;
  }
}
.schedule-hour .hour-time {
  position: relative;
  display: Flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}
.schedule-hour .hour-time p {
  color: #40916c;
  font-size: 10px;
}
.schedule-hour .hour-time .hour-time-first {
  position: relative;
  width: 100%;
  height: 100%;
}
.schedule-hour .hour-time .hour-time-first::after {
  content: "";
  display: inline-block;
  border-left: 2px #2d6a4f solid;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
}
.schedule-hour .hour-field {
  height: 100%;
  border-radius: 10px;
  margin-bottom: 10px !important;
}
.schedule-hour .hour-field h4 {
  margin: 0;
  font-size: 15px;
}
.schedule-hour .hour-field .hour-field-subject {
  display: Flex;
  flex-direction: column;
  justify-content: center;
}
.schedule-hour .hour-field .hour-field-subject p {
  font-size: 12px;
}
.schedule-hour .hour-field .hour-field-subject .hour-field-subject-time {
  font-size: 10px;
}
.schedule-hour .hour-field .hour-field-room,
.schedule-hour .hour-field .hour-field-subject {
  margin-top: 5px;
}
.schedule-hour .schedule-assignments {
  padding: 0;
}
.schedule-hour .schedule-assignments .date-wrapper {
  margin-bottom: 10px;
}
.schedule-hour .assignment-text {
  background-color: #2d6a4f;
  padding: 10px;
}
.schedule-hour .assignment-text p,
.schedule-hour .assignment-text h4 {
  color: #fafafa;
}

/*# sourceMappingURL=tylle.css.map */
