@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

img {
  width: 100%;
}

:root {
  font-family: "Arial", sans-serif;
  --color-1: #161617;
  --color-2: #2D6A4F;
  --color-3: #40916C;
  --color-4: #FAFAFA;
  --color-5: #D8F3DC;
  --italic: italic;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

#style-tile-heading {
  margin: 24px 0 0 24px;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  margin: 0 8px;
  border-radius: 24px;
}

.card {
  border: 1px solid #999;
  border-radius: 24px;
  max-width: 440px;
}

.card .card-title {
  font-weight: bold;
}

nav {
  margin: 0 0 40px 0;
  padding: 24px 32px;
  background-color: var(--color-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav h1 {
  font-size: 1.5rem;
}

nav .burgermenu-icon {
  cursor: pointer;
}

nav .burgermenu-icon .bar {
  width: 24px;
  height: 2px;
  background-color: var(--color-4);
  margin: 6px 0;
}

nav .burgermenu-icon .bar:first-child {
  width: 8px;
}

nav .burgermenu-icon .bar:last-child {
  width: 16px;
}

nav #desktop-nav {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul .avatar {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background: var(--color-4);
}

nav .nav-link,
nav .nav-logo-link {
  text-decoration: none;
  color: var(--color-4);
}

footer {
  padding: 24px 32px;
  background-color: var(--color-3);
  color: var(--color-4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.color-font-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.color-font-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 300px;
  width: 100%;
  margin: 20px;
  border-radius: 24px;
  padding: 10px;
}

.color-font-container .item p {
  margin: 10px;
  text-align: center;
}

.color-font-container .color-1 {
  color: var(--color-4);
  background: var(--color-1);
}

.color-font-container .color-2 {
  color: var(--color-4);
  background: var(--color-2);
}

.color-font-container .color-3 {
  color: var(--color-4);
  background: var(--color-3);
}

.color-font-container .color-4 {
  color: var(--color-1);
  background: var(--color-4);
  border: 1px solid #999;
}

.color-font-container .color-5 {
  color: var(--color-4);
  background: var(--color-5);
}

.color-font-container .quote {
  font-family: "Playfair Display", serif;
  font-style: var(--italic);
}

.color-font-container .quote::before {
  content: "“";
  font-style: var(--italic);
}

.color-font-container .quote::after {
  content: "”";
  font-style: var(--italic);
}

#btns-container,
#card-container,
#input-container {
  margin: 5% 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (min-width: 920px) {
  nav #mobile-nav {
    display: none;
  }

  nav #desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .color-font-container .item {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */